html,
body {
  height: 100%;
}
body {
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 1.6;
  color: $default-color;
  display: flex;
  flex-direction: column;
  }
  .main {
    flex: 1 0 auto;
  }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  color: $title-color;
  @extend %roboto-700;
  font-size: 48px;
  line-height: 0.6;
  text-align: center;
  text-transform: uppercase;
}
.subtitle {
  max-width: 523px;
  margin: 0 auto 60px;
  color: #8d8d8d;
  @extend %quicksand-500;
  text-align: center;
}
