@import "reset";
@import "vars";
@import "fonts";
@import "libs";
@import "global";

.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__novigation-list {
    display: flex;
  }

  &__novigation-item+.header__novigation-item {
    margin-left: 25px;
  }

  &__novigation-link {
    position: relative;
  }

  &__novigation-num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent-color;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    top: -10px;
    right: -16px;
  }
}

.menu {

  &__list {
    display: flex;
  }

  &__item+.menu__item {
    margin-left: 34px;
  }

  &__link {
    @extend %roboto-400;
    color: $title-color;
    text-transform: uppercase;
    padding: 0 3px 5px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;

    &:hover {
      @extend %roboto-700;
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
    }
  }

  &__link.menu__link--active {
    @extend %roboto-700;
    color: $accent-color;
  }
}

.footer {

  background-color: $bg-color;
}

.footer-top {
  padding: 75px 0 40px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ececec;

  &__item {
    flex: 0 0 145px;
    margin-right: 60px;

    a {
      display: block;
    }

    &:first-child {
      flex: 0 0 240px;

    }

    &:last-child {
      flex: 0 0 470px;
      margin-right: 0;
    }
  }

  &__adress {
    margin-top: 35px;
  }


  &__phone {
    margin-bottom: 30px;
  }

  &__social {
    display: flex;

  }

  &__social-item+.footer-top__social-item {
    margin-left: 19px;
  }

  &__social-link {
    path {
      transition: all 0.3s;
      fill: $default-color;
    }

    &:hover {
      path {
        fill: $accent-color;
      }
    }

  }

  &__title {
    color: $title-color;
    @extend %roboto-500;
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 35px;
  }

  &__list-link {
    color: $default-color;
    @extend %quicksand-400;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.2;
  }

  &__text {
    margin-bottom: 30px;
  }


  &__form-input {
    background-color: #ffffff;
    max-width: 320px;
    width: 100%;
    padding: 12px 26px;
    box-shadow: 0 7px 20px rgba(192, 192, 192, 0.3);
    border: none;

    &::placeholder {
      color: #8d8d8d;
    }
  }

  &__form-btn {
    @extend %btn;
    max-width: 140px;
    cursor: pointer;
    border: none;
    letter-spacing: 0.8px;
    padding: 12px 26px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  font-size: 12px;

  &__accept {
    display: flex;

    img {
      margin-left: 25px;
    }
  }
}

.top-slider {
  background-color: $bg-color;
  padding-bottom: 38px;
  padding-top: 65px;
  background-image: url('../images/slider-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  &__container {
    max-width: 1560px;

  }


  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    margin-top: 130px;
    padding-left: 175px;
  }

  &__title {
    max-width: 670px;
    color: $title-color;
    @extend %roboto-700;
    font-size: 58px;
    line-height: 68px;
    margin-bottom: 35px;
  }

  &__text {
    color: $default-color;
    @extend %quicksand-500;
    font-weight: 500;
    line-height: 26px;
    max-width: 470px;
    margin-bottom: 60px;
  }

  &__btn {
    @extend %btn;
    padding: 14px 36px;
  }

  &__img {
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    li {
      margin: 0 5px;
      button {
        font-size: 0;
        border: 1px solid transparent;
        background-color: transparent;
        width: 30px;
        height: 30px;
        padding: 12px;
        border-radius: 50%;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          background-color: $default-color;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &.slick-active{
  
        button {
          border: 1px solid $accent-color;
          &::after {
            background-color: $accent-color;
          }
        }
      }
    }
  }
}

.categories-info {
  background-image: url('../images/categories/decor-left.png');
  background-repeat: no-repeat;
  background-position: center left;
  &__bg {
    background-image: url('../images/categories/decor-right.png');
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.info {
      display: flex;
      justify-content: space-between;
      margin: 120px -15px;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        background-image: url('../images/icon/info-left.svg');
        background-repeat: no-repeat;
        width: 120px;
        height: 121px;
        top: -40px;
        left: -50px;
        z-index: -1;
      }
      &::after {
        position: absolute;
        content: '';
        background-image: url('../images/icon/info-right.svg');
        background-repeat: no-repeat;
        width: 65px;
        height: 52px;
        right: -20px;
        bottom: -20px;
        z-index: -1;
      }
		&__item {
      flex: 0 0 370px;
      padding: 60px 55px 60px 55px;
      box-shadow: 20px 0 60px rgba(202, 202, 202, 0.35);
      background-color: #ffffff;
		}

		&__item-img {
      margin-bottom: 40px;
		}

		&__item-title {
      margin-bottom: 15px;
      color: $title-color;
      @extend %roboto-400;
      font-size: 22px;
      line-height: 1.2;
		}

		&__item-text {

		}
}

.categories {
  margin-bottom: 120px;
  &__title {
    margin-bottom: 30px;
  }

  &__subtitle {
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 635px;
    grid-gap: 30px;
  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    &:nth-child(1) {
      grid-row: span 2;
      .categories__item-subtitle {
        color: #5800e4;
      }
    }
    &:nth-child(2) {
      padding-top: 110px;
      grid-column: span 2;
      background-position: right;
      .categories__item-subtitle {
        color: #fe3e57;
      }
    }
    &:nth-child(3) {
      .categories__item-subtitle {
        color: #ffb534;
      }
    }
    &:nth-child(4) {
      .categories__item-subtitle {
        color: #34c3ff;
      }
    }
  }
  &__item-subtitle {
    color: #5800e4;
  }

  &__item-title {
    color: $title-color;
    @extend %roboto-500;
    font-size: 22px;
    line-height: 1.1;
    margin: 10px 0px;
  }

  &__item-link {
    color: $title-color;
    @extend %roboto-400;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
    &:hover {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
    }
  }
}

.video-fashion {
  background-image: url('../images/fashion/fashion-bg.png');
  background-repeat: no-repeat;
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__popup {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 535px;
    width: 100%;
    height: 480px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
  }

  &__content {
    max-width: 570px;
    width: 100%;
  }


  &__subtitle {
    color: $accent-color;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 40px;
    text-align: left;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__btn {
    @extend %btn;
  }
}

.products {
  padding: 120px 0;
  display: flex;

  &__title {
    margin-bottom: 30px;
  }

  &__subtitle {
    text-align: center;
    max-width: 570px;
    margin: 0 auto 60px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
  }

  &__btn {
    display: block;
    width: 170px;
    padding: 19px 0px;
    text-align: center;
    margin: 60px auto 0;
    border: 1px solid #fe3e57;
    color: $title-color;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
  }
}

.product-cart {
  position: relative;
  overflow: hidden;
  &:hover {
    .product-cart__link-box {
      transform: translateX(0);
    }
  }
  &__img {
    object-fit: cover;
  }

  &__start {
    margin: 30px 0 20px;
  }

  &__title {
    color: $title-color;
    @extend %roboto-400;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  &__pay {
    color: $title-color;
    @extend %roboto-500;
    font-size: 16px;
    line-height: 1.6;
  }

  &__old-pay {
    margin-left: 20px;
    color: #8d8d8d;
    @extend %roboto-400;
    text-decoration: line-through;
  }

  &__link-box {
    background-color: #fff;
    width: 212px;
    border-radius: 25px;
    position: absolute;
    bottom: 150px;
    transform: translateX(-150%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition: all 0.5s;
    box-shadow: 0 5px 30px rgba(152, 152, 152, 0.2);
  }

  &__link {
    padding: 0 25px;
    display: inherit;
    path {
      transition: all 0.3s;
    }

    &:nth-child(2) {
      border-left: 1px solid #ececec; 
      border-right: 1px solid #ececec; 
    }
    &:hover {
      path {
        fill: $accent-color;
      }
    }
  }

}

.product-cart--sale {
  position: relative;
  &::before {
    content: 'SALE';
    position: absolute;
    width: 60px;
    height: 30px;
    top: 25px;
    left: 25px;
    background-color: $accent-color;
    color: #fff;
    text-align: center;
    line-height: 30px;
  }
}




@import "media";